<!DOCTYPE html>
<html>
<head>
<title>Pompeii Linked Open Data: $urn</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- https://bootswatch.com/journal/ -->
<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/journal/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
<span class="navbar-brand"><a class="navbar-brand" href="/">Pompeii Linked Open Data (P-LOD)</a> </span>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<!--
<div class="collapse navbar-collapse" id="navbarColor01">
<ul class="navbar-nav me-auto">
<li class="nav-item">
<a class="nav-link active" href="/">Start
  <span class="visually-hidden">(current)</span>
</a>
</li>


<li class="nav-item">
<a class="nav-link" href="#">Features</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Pricing</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">About</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Separated link</a>
</div>
</li>

</ul>

<form class="d-flex">
<input class="form-control me-sm-2" type="search" placeholder="Search">
<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

</div>
-->
</div>
</nav>
<div class="container">


<div class="mx-auto p-4 py-md-5"> <!-- col-lg-8 -->
<main role="main">
<p>Over 2.7 million triples describing Pompeii along with an API to access different views of the data.</p>

<h2>Browse URNs</h2>
<ul>
<li><a href="/urn/urn:p-lod:id:pompeii">http://p-lod.org/urn/urn:p-lod:id:pompeii</a> (Replace with any P-LOD URN.)</li>
<li><a href="/urn/urn:p-lod:id:r1-i10-p4">http://p-lod.org/urn/urn:p-lod:id:r1-i10-p4</a></li>
<li><a href="/urn/urn:p-lod:id:ariadne">http://p-lod.org/urn/urn:p-lod:id:ariadne</a></li>
<li><a href="/urn/urn:p-lod:id:snake">http://p-lod.org/urn/urn:p-lod:id:snake</a></li>
<li><a href="/urn/urn:p-lod:id:wikidata-url">http://p-lod.org/urn/urn:p-lod:id:wikidata-url</a></li>
<li><a href="/urn/urn:p-lod:id:pleiades-url">http://p-lod.org/urn/urn:p-lod:id:pleiades-url</a></li>
</ul>
<h2>API</h2>
<ul>
<li>/api/geojson
<ul>
<li><a href="/api/geojson/pompeii">http://p-lod.org/api/geojson/pompeii</a> (Replace with any P-LOD identifier.)
<ul>
<li><a href="http://geojson.io/#data=data:text/x-url,http%3A%2F%2Fp-lod.org%2Fapi%2Fgeojson%2Fpompeii">View at geojson.io</a></li>
</ul>
</li>
<li><a href="/api/geojson/snake">http://p-lod.org/api/geojson/snake</a><ul>
<li><a href="http://geojson.io/#data=data:text/x-url,http%3A%2F%2Fp-lod.org%2Fapi%2Fgeojson%2Fsnake">View at geojson.io</a></li>
</ul>
</li>
</ul>
</li>
<li>/api/spatial_children
<ul>
<li><a href="/api/spatial_children/r1">http://p-lod.org/api/spatial_children/r1</a></li>
</ul>
</li>
</ul>
<h2>About P-LOD and About This Site</h2>
<p><i>Pompeii Linked Open Data</i> (P-LOD) is collecting and publishing data about Pompeii and its immediate environs as Linked Open Data. The project is jointly directed by <a href="https://isaw.nyu.edu/people/faculty/isaw-faculty/sebastian-heath">Sebastian Heath</a> (NYU) and <a href="https://www.umass.edu/classics/member/eric-poehler">Eric Poehler</a> (UMass Amherst). It includes data collected for the Getty Foundation funded <a href="http://palp.art">Pompeii Artistic Landscape Project</a> (PALP) and the NEH funded <a href="https://digitalhumanities.umass.edu/pbmp/">Pompeii Bibliography and Mapping Project</a> (PBMP). Data entry is ongoing and the content here will frequently change.</p>

<p>This site provides access through that data. Using the terminology of RDF, P-LOD uses URN-based identifiers and all resources are browseable via URLs with the pattern http://p-lod.org/urn/urn:p-lod:id:pompeii. There is also an API, which is growing and which will be documented by example for the time being. Each page that shows the information associated with a URN also creates links into the API. P-LOD is part of a network of sites that use the same LOD backend store. Currently, this site makes links to PALP.</p>

</main>
</div>
</div>

</body>
</html>